.THIS {
}

.THIS .background {
    background-color: var(--lwc-LoginBackgroundColor);
    background-image: var(--lwc-LoginBackgroundImage);
}

.THIS .salesforceIdentityCommunityLogo2 .communityLogo {
    width: var(--CompanyLogoWidth) px !important;
}